:root
  --yellow #fbc626
  --red #ce0c2f

body
  height 100vh
  overflow hidden

.pilipala
  width 100px
  height 500px
  // background grey
  margin 100px auto
  &:last-child
    position relative
    top -560px
    .hexagon, .dot, .red-box
      visibility: hidden

.hexagon
  width 70px
  height 100px
  background var(--yellow)
  position relative
  transform rotate(110 deg)
  &:after, &:before
    position absolute
    content: ''
    border 50px solid transparent 
    border-width 50px 30px
    top 0
  &:after
    right -60px
    border-left-color var(--yellow)
  &:before
    left -60px
    border-color transparent
    border-right-color var(--yellow)

  .fu
    transform rotate(-90deg) translateX(-5px)
    font-size 48px
    font-family 'Noto Sans TC', sans-serif

.red-box
  background: var(--red);
  transform-origin 0 0
  width: 25px;

.box1
  height: 45px;
  transform: translate3d(56px, -111px, 0) skewX(40deg);
.box2
  height: 66px;
  transform: translate3d(94px, -111px, 0) skewX(-20deg);
.box3
  height: 11px;
  transform: translate3d(71px, -111px, 0) skewX(-79deg);

.dot
  background #222
  width 4px
  height 4px
  transform translate3d(47px, -115px, 0)

.firecracker
  width 20px
  height 40px
  background var(--red)
  position relative
  transform rotate(23deg) translate3d(-30px, -139px, 0)
  &:before, &:after
    content ''
    width 20px
    height 10px
    border-radius 100%
    position absolute
  &:before
    top -5px
    background var(--red)
  &:after
    bottom -5px
    background var(--yellow)
.firecracker:nth-child(2n)
  transform rotate(-23deg) translate3d(90px, -87px, 0)
