:root
  --width 400px
  --height 300px
body
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center
li, ul
  margin 0
  padding 0
.slider
  width var(--width)
  height var(--height)
  margin 0 auto
  ul
    width var(--width)
    height var(--height)
    display flex
    flex-wrap wrap
    overflow hidden
  li
    width var(--width)
    height var(--height)
    text-align center
    line-height var(--height)
    font-size calc(var(--height)/3)
    color white
    &:nth-child(1)
      background red
    &:nth-child(2)
      background green
    &:nth-child(3)
      background blue
  .tabs
    cursor pointer
    span
      padding 0 10px
      line-height 30px
      &:hover
        background #ddd 