:root {
  --width: 400px;
  --height: 300px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
li,
ul {
  margin: 0;
  padding: 0;
}
.slider {
  width: var(--width);
  height: var(--height);
  margin: 0 auto;
}
.slider ul {
  width: var(--width);
  height: var(--height);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.slider li {
  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 3);
  color: #fff;
}
.slider li:nth-child(1) {
  background: #f00;
}
.slider li:nth-child(2) {
  background: #008000;
}
.slider li:nth-child(3) {
  background: #00f;
}
.slider .tabs {
  cursor: pointer;
}
.slider .tabs span {
  padding: 0 10px;
  line-height: 30px;
}
.slider .tabs span:hover {
  background: #ddd;
}
